<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Actif</th>
  </tr>
  </thead>

  <tbody>
  <ng-container *ngIf="projects">
    <tr *ngFor="let project of projects">
      <td>{{project.id}}</td>
      <td>
        <span class="link" [routerLink]="['/projects', project.id]">{{project.name}}</span>
      </td>
      <td>{{project.description}}</td>
      <td><input type="checkbox" disabled [checked]="project.isActive"></td>
    </tr>
  </ng-container>
  <ng-container *ngIf="!projects">
    <tr>
      <td colspan="4">Chargement des données en cours</td>
    </tr>
  </ng-container>
  </tbody>

  <tfoot *ngIf="projects">
  <tr>
    <td colspan="4">Nb projets : {{projects.length}}</td>
  </tr>
  </tfoot>
</table>
