<h1>App Component</h1>

ul>li[routerLink]*6

<ul>
  <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/projects']">Project</li>
  <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/projects/create']">Create project</li>
  <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Shopping</li>
  <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/users']">Users</li>
</ul>

<!-- <app-hello-world></app-hello-world>

<app-demo-binding></app-demo-binding> -->

<!-- <app-demo-pipes></app-demo-pipes> -->

<!-- <app-demo-directives></app-demo-directives> -->

<!-- <app-demo-directives-structural></app-demo-directives-structural> -->

<!-- <app-exo-spoiler></app-exo-spoiler> -->

<!-- <app-exo-menu></app-exo-menu> -->

<!-- <app-login></app-login> -->

<!--<app-exo-shopping-list></app-exo-shopping-list>-->

<!--<app-main-shopping-list></app-main-shopping-list>-->

<div class="container" style="width: 720px; margin: auto; border: 1px solid black; padding: 10px;">
  <router-outlet></router-outlet>
</div>
