<h1>App Component</h1>

ul>li[routerLink]*6

<!-- <app-hello-world></app-hello-world>

<app-demo-binding></app-demo-binding> -->

<!-- <app-demo-pipes></app-demo-pipes> -->

<!-- <app-demo-directives></app-demo-directives> -->

<!-- <app-demo-directives-structural></app-demo-directives-structural> -->

<!-- <app-exo-spoiler></app-exo-spoiler> -->

<!-- <app-exo-menu></app-exo-menu> -->

<!-- <app-login></app-login> -->

<!--<app-exo-shopping-list></app-exo-shopping-list>-->

<!--<app-main-shopping-list></app-main-shopping-list>-->

<router-outlet></router-outlet>
